body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

/*@keyframes animatedBackground {
  from { transform: translateX(0); }
  to { transform: translateX(-187%); }
}*/


h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: grey;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #449AD3;
}

p {
  font-size: 1.5em;
  color: grey;
}

a {
  font-size: 1.5em;
  transition: 1s ease;
  margin-right:0.5rem;
}

a:hover, a:visited, a:focus, button {
  text-decoration: none;
  outline: none;
}

.menu {
  color:lightblue;
  padding: 10px;
  margin-top: 10px;
  transition: all .5 ease;
}

.menu:hover {
  transition: all .5 ease;
  color: white;
  border: 1px solid white;
}

.headLink {
  color: black;
  font-size: 1em;
  color: white;
}

.navList {
  margin-left: auto;
}

.headLogo {
  margin-left: 2vw;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}

.nav li:last-child {
  margin-right: 0;
}

/*.menu:visited {
  color: white;
}*/


/*
footer
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
