body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: grey;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #449AD3;
}

p {
  font-size: 1.5em;
  color: grey;
}

a {
  font-size: 1.5em;
  color: #449AD3;
  transition: 1s ease;
  margin-right:0.5rem;

}


a:hover {
  text-decoration: none;
  color:#449AD3;
  opacity: 0.2;
}
